body, html {
	padding: 0;
	margin: 0;
}
body {
	background-color:#000;
	color:#0F0;
	font-family:monospace;
	overflow-x: hidden;
	overflow-y: auto;
}
.left, .right {
	float:left;
	width: 50%;
	min-height: 100%;
}
div {
	font-weight:700;
}

div > span {
	font-weight:400;
}

ul {
	list-style-type: square;
}

hr {
	border: 0;
	border-bottom: 1px solid rgba(0, 255, 0, .5);
}

button {
	outline:none;
	border:1px solid #0F0;
	background-color:#000;
	font-family:monospace;
	color:#0F0;
	cursor:pointer;
	margin:5px 0;
	padding:3px;
	display: block;
}
button.inline {
	display: inline-block;
	margin: 0 0 0 10px;
}

button:disabled,button:disabled:hover {
	color:#007504;
	background-color:#000;
	border-color:#007504;
}

.button-section {
	/*width:300px;*/
	border:1px dashed #0F0;
	margin:20px;
	padding:20px;
	background-color: #000;
}

.button-section.compact {
	height: 0;
	overflow: hidden;
}
.button-section.compact > .header {
	margin: -30px -20px 0 -20px;
	height: 60px;
	line-height: 60px;
	float: none;
	background-color: rgba(0, 255, 0, .1);
}
.button-section.compact > .header:after {
	content: ' +';
}
.button-section > .header {
	float:left;
	margin-top:-30px;
	margin-bottom:0;
	color:#0F0;
	font-size:16px;
	font-weight:700;
	background-color:#000;
	padding:0 10px;
	cursor: pointer;
}
.button-section:not(.compact) > .header:hover {
	-webkit-text-shadow: 0 0 5px rgba(0, 255, 0, .7);
	-moz-text-shadow: 0 0 5px rgba(0, 255, 0, .7);
	-ms-text-shadow: 0 0 5px rgba(0, 255, 0, .7);
	-o-text-shadow: 0 0 5px rgba(0, 255, 0, .7);
	text-shadow: 0 0 5px rgba(0, 255, 0, .7);
}

.spaced {
	margin-top:60px;
}
.spaced.thin {
	margin-top:10px;
}

.help {
	cursor: pointer;
	position: relative;
}

.help.stat:hover {
	background-color:rgba(0,255,0,.2);
}

/*.help:hover:before {
	content:attr(data-title);
	color:#0F0;
	position: absolute;
	top: -1px;
	left: 100%;
	margin-left: 2px;
	font-size: 14px;
	font-weight: normal;
	background-color: rgba(0, 55, 0, .95);
	padding: 10px;
	z-index: 2;
	width: 200px;
	border: 1px solid #0F0;
}*/
.right .help:hover:before {
	left: 0;
	margin-left: -222px;
}

.buildings {
	background-color:#000;
}

.rentRoom {
	padding:5px;
	margin: 2px;
	cursor:pointer;
	display: block;
}

.rentRoom.owned,
.rentRoom.owned:hover {
	border: 0;
	background-color: #000;
	color: #0F0;
}
.rentRoom:disabled {
	color:#007504;
	border: 1px solid #007504;
}

button:hover, .rentRoom:hover {
	background-color:#0F0;
	color:#000;
}

.jobList {

}
ul > li > button {
	margin-left: 10px;
}

.projectProgress {
	position: absolute;
	height: 5px;
	bottom: -6px;
	left: 0;
	width: 100%;
	min-width: 0%;
	background-color: #0F0;
}

#salaries-timer-bar-container {
	
}

#salaries-timer-bar-container .salaries-timer-bar,
#rents-timer-bar-container .rents-timer-bar {
	height: 10px;
	background-color: #0F0;
}

.startProject:disabled {
	display: block;
	width: 100%;
	text-align: left;
}
.startProject:disabled:after {
	content: attr(data-profit);
	margin-left: 5px;
}

#lottery #winner,
#lottery #owned {
	float: left;
	width: 50%;
	text-align: left;
}
#lottery #winner:before {
	content: 'Winner number: ';
}
#lottery #owned:before {
	content: 'Your number: ';
}
#lottery #info {
	background-color: rgba(0, 255, 0, .2);
	padding: 10px;
	text-align: center;
	margin: 5px 0;
	text-transform: uppercase;
}

.job-list > li > button {
	display: inline-block;
}
#employees-section .help.label {
	width: 70%;
	display: inline-block;
}
.hireContainer {
	text-align: right;
	width: 25%;
	display: inline-block;
}
.hireEmployee,
.fireEmployee,
.employeeCounter {
	text-align: center;
	display: inline-block;
	width: 20px;
	height: 20px;
}
.popup {
	position: fixed;
	background-color: #000;
	border: 1px solid #0F0;
	width: 300px;
	z-index: 2;
	bottom: 20px;
	left: 50%;
	margin-left: -150px;
}
.popup .container .title {
	text-align: center;
	font-weight: bold;
	color: #0F0;
}
.popup .container .description {
	text-align: center;
	font-weight: 100;
	color: #0F0;
}
.popup .container .closeBtn {
	margin: 10px auto;
	width: 100px;
}
/* ACHIEVEMENTS */
.button-section.achievements > .container {
	overflow: hidden;
}
#achievement-list {
	color: #0F0;
}
#achievement-list table {
	width: 99.9%;
	border-collapse: collapse;
}
#achievement-list table tr td.header {
	padding-bottom: 20px;
	font-weight: normal;
}
#achievement-list table tr td {
	padding: 5px 10px;
	color: #0F0;
	background-color: #000;
}
#achievement-list table tr:hover td {
	background-color: rgba(0, 255, 0, .2);
}
#achievement-list table tr.hidden.unlocked:hover td {
	background-color: rgba(255, 255, 0, .2);
}
#achievement-list table tr.unlocked.hidden td {
	border: 1px dashed #FF0;
	color: #FF0;
}
#achievement-list table tr.locked td {
	color: rgba(0, 255, 0, .5);
}
#achievement-list table tr.unlocked td {
	border: 1px dashed #0F0;
}
#achievement-list table tr.locked td .achievement-progress-text {
	font-size: 12px;
	color: rgba(0, 255, 0, .3);
}
#achievement-list table tr.unlocked td .achievement-progress-text {
	display: none;
}

/* navbar */
.navbar {
	height: 60px;
	line-height: 60px;
	margin: 0;
	border-bottom: 1px solid #0F0;
	padding: 0 10px;
}
.navbar > .brand {
	float: left;
}
.navbar > .brand:before {
	content: '.-==[ ';
}
.navbar > .brand:after {
	content: ' CONSOLE v1.0 ]==-.';
}
.navbar > .menu {
	float: right;
}
.navbar > .menu > .dropdown {
	min-width: 100px;
	text-align: center;
}

/* dropdowns */
.dropdown {
    position: relative;
    display: inline-block;
    line-height: initial;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000;
    border: 1px solid #0F0;
    min-width: 100px;
}
.dropdown .dropdown-button {
	width: 100%;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropdown-button {
	background-color: #0F0;
	color: #000;
}
.dropdown-content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dropdown-content ul > li {
	padding: 5px 10px;
	cursor: pointer;
	text-align: left;
	width: 200px;
}
.dropdown-content ul > li.disabled {
	color: rgba(0, 255, 0, .5);
	cursor: default;
}
.dropdown-content ul > li:not(.disabled):hover {
	background-color: rgba(0, 255, 0, .2);
}

.dropdown-content a {
	color: #0F0;
	text-decoration: none;
	display: block;
}

/* Command prompt */
.command-prompt-log {
	max-height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-right: -50px;
}
#command-prompt {
/*	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;*/
	padding: 10px;
	border-top: 1px solid #0F0;
	background-color: #000;
	position: relative;
}
#command-prompt > input[type=text] {
	background-color: #000;
	color: #0F0;
	font-size: 14px;
	outline: none;
	float: left;
	width: 95%;
	border: 0;
	font-family: monospace;
}
#command-prompt:before {
	content: '>';
	color: #0F0;
	float: left;
	margin-top: 2px;
	margin-right: 2px;
}
#command-prompt .multiplier {
	font-size: 14px;
}
.command-prompt-number-key-up {
	position: fixed;
	color: #0F0;
}
#oscilating-value-container {
	padding: 5px;
	border: 1px dashed #0F0;
	height: 100px;
	width: 500px;
	position: relative;
	margin-top: 5px;
}
#oscilating-value-container > .bar {
	position: absolute;
	width: 9px;
	border-right: 1px solid black;
	background-color: rgba(255, 255, 255, .5);
}
#oscilating-value-container > .bar.up {
	background-color: rgba(0, 255, 0, .5);
}
#oscilating-value-container > .bar.down {
	background-color: rgba(255, 0, 0, .5);
}
#oscilating-value-container > .bar.up:hover {
	background-color: rgba(0, 255, 0, 1);
}
#oscilating-value-container > .bar.down:hover {
	background-color: rgba(255, 0, 0, 1);
}
#oscilating-value-container .bar.help:hover:before {
	width: 50px;
	top: 0;
	right: 0;
}
#oscilating-value-container .bar.flat.help:hover:before {
	background-color: rgba(255, 255, 255, .5);
	color: #FFF;
	border: 1px solid #FFF;
}
#oscilating-value-container .bar.down.help:hover:before {
	color:#F00;
	background-color: rgba(55, 0, 0, .95);
	border: 1px solid #F00;
}
#showcase {
    overflow: hidden;
}
#showcase .item {
    float: left;
    margin: 0 5px;
    font-size: 26px;
    line-height: 1.2em;
    cursor: help;
    height: 30px;
    width: 30px;
}
p.disabled {
	font-style: italic;
	text-align: center;
	color: rgba(0, 255, 0, .5);
	padding: 0;
	margin: 0;
	font-weight: 100;
}
#tooltip {
	border: 1px solid #0F0;
	padding: 10px;
	color: #0F0;
	background-color: #000;
	position: fixed;
	display: none;
	font-weight: normal;
	max-width: 400px;
}
#tooltip.hidden {
	border-color: #FF0;
	color: #FF0;
}
.wild-pixel {
	position: fixed;
	background-color: #0F0;
	height: 10px;
	width: 10px;
	cursor: pointer;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

#news {
	position: relative;
	padding: 10px;
	height: 15px;
	border-bottom: 1px solid #0F0;
	z-index: -1;
}

#news #news-content {
	position: absolute;
	left: 100%;
	white-space: nowrap;
}